html, body, #root {
  height: 100%;
}


:root {
  --light-black: #222222;
  --transparent-black: #1a1a1a65; 
  --gray: #A1A1A1;
  --transparent-gray: #D9D9D9;
  --blue: #6CC3C5;
  --white: #ffffff;
  --card-black: rgba(26, 26, 26, 0.65);
  --point-gray: #AAAAAA;
}

* {
  font-family: 'Mulish', sans-serif;
}

.App {
  height: 100%;
  background-color: var(--transparent-black);
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 2;
}


.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-black);
  padding: 0.5rem 1rem;
  height: 8vh;
}

#App-header-logo-container, #App-header-settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#App-header-logo-container {
  color: var(--white);
}

#App-header-settings-container {
  column-gap: 5vw;
}

#map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* DATA VIEW CARD */
.card {
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 20px;
  background-color: var(--card-black);
  backdrop-filter: blur(60px);
}


/* POINT DATA CARD */
.react-modal-sheet-backdrop {
  /* custom styles */
}
.react-modal-sheet-container {
  height: 50vh !important;
  background: linear-gradient(360deg, #222222 3.9%, #222222 78.03%, rgba(34, 34, 34, 0) 122.36%);
}
.react-modal-sheet-header {
  /* custom styles */
}
.react-modal-sheet-drag-indicator {
  /* custom styles */
}
.react-modal-sheet-content {
  /* custom styles */
}

.backDrop {
  font-size: 24px;
  color: white;
  margin: 0;
  font-weight: bold;
}

.backDrop-sub {
  font-size: 14px;
  color: white;
}