html, body, #root {
  height: 100%;
}

p {margin: 0;}


:root {
  --light-black: #222222;
  --transparent-black: #1a1a1a65; 
  --gray: #A1A1A1;
  --transparent-gray: #D9D9D9;
  --blue: #6CC3C5;
  --white: #ffffff;
  --card-black: rgba(26, 26, 26, 0.65);
  --point-gray: #AAAAAA;
}

* {
  font-family: 'Mulish', sans-serif;
}

.App {
  height: 100%;
  background-color: var(--transparent-black);
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 2;
}


.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-black);
  padding: 0.5rem 1rem;
  height: 8vh;
}

#App-header-logo-container, #App-header-settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#App-header-logo-container {
  color: var(--white);
}

#App-header-settings-container {
  column-gap: 5vw;
}

#map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* DATA VIEW CARD */
.card {
  height: calc(100% - 8px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 8px);

}

#data-container {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  height: calc(100% - 4rem);
  overflow: auto;
}

.data-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.data-title {
  font-size: 20px;
  margin: 0px;
  color: var(--white);
}

.nor-stat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1.5rem;
  align-items: flex-end;
}

.nor-count {
    font-size: 54px;
    font-weight: bold;
    color: white;
    margin: 0
}

.nor-name {
  font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 0
}

.trend {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.nor-trend {
  font-size: 24px;
  margin:0;
}

.positive-trend {
  color: green;
}

.negative-trend {
  color: red;
}

.nor-sub {
  font-size: 14px;
  color: var(--gray);
  margin: 0;
}

.dataView-filter {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}


#data-dd {
  width: 50%;
  position: relative;
}

.dd-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 0 1rem;
}

.dd-toggle >* {
  margin: 0;
  font-size: 16px;
}

.dd-items {
  top:3rem;
  left:0;
  position: absolute;
  background-color: var(--card-black);
  border: 1px solid rgb(255, 255, 255, 0.15);
  color: white;
  border-radius: 12px;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow: scroll;
  max-height: 25vh;
}

.dd-item {
  padding: 0 1rem;
}

.rs-legend {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 1rem;
}


.open-closed {
  column-gap: 0.5rem;
}

.open-closed-itm {
  column-gap: 0.25rem;
}

.progress-bar-container, .progress-bar {
  width: 100%;
  border-radius: 100px;
  left: 0;
  height: 8px;
  transition: width 0.5s;
}

.progress-bar-container.active {
  background-color: #484848;
}

.progress-bar-container.inactive {
  background-color: #4848488f;
}

.progress-bar {
  background-color: #48D89E;
}


/* POINT DATA CARD */
.react-modal-sheet-backdrop {
  touch-action: auto !important;
  pointer-events: all !important;
}
.react-modal-sheet-container {
  background: linear-gradient(180deg, rgba(239, 239, 239, 0.5), 0.5%, rgba(26, 26, 26, 100%));
  z-index: 3;
  background-color: transparent !important;
}

.vertical-timeline::before {
  width: 1px !important;
}


.react-modal-sheet-header {
  background-color: transparent !important;
}
.react-modal-sheet-drag-indicator {
  color: #AAAAAA;
}
.react-modal-sheet-content {
  background-color: transparent !important;
  /* custom styles */
}

.backDrop {
  font-size: 24px;
  color: white;
  margin: 0;
  font-weight: bold;
}

.backDrop-sub {
  font-size: 14px;
  color: white;
}

.backDrop-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.backDrop-btn {
  border-radius: 50%;
  height: min(10vw, 40px);
  width: min(10vw, 40px);
  background-color: rgb(217,217,217, .6);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomSheet {
  padding: 0 1rem 1rem 1rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent !important;

}


/* SETTINGS CONTAINER */
.searchFilter-container {
  width: calc(100vw - 2rem);
  position: absolute;
  top: 2rem;
  z-index: 0;
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
  font-size: 16px;
}

#filterToggle, #searchBar, #dataView-searchBar, #data-dd {
  background-color: var(--card-black);
  border: 1px solid rgb(255, 255, 255, 0.15);
  height: 2.5rem;
  color: white;
  border-radius: 12px;
  font-size: 16px;

}

/* FILTER TOGGLE */
#filterToggle {
  padding: 0.5rem;
  color: var(--gray);
}

/* SEARCH BAR */
input:focus {outline:none;}
/* input[type=search] { -webkit-appearance: none; } */

#searchBar, #dataView-searchBar {
  position: relative;
  flex: 1;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  background-image: url("./icons/searchIcon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

#dataView-searchBar {
  width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* FILTER */
.filter-container {
  bottom: 8px;
  height: max(40%, fit-content);
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  width: calc(100% - 16px);
}

.filter-section {
  padding: 0.5rem 1rem;
}

.filter-label {
  font-size: 16px;
  color: var(--white);
  margin: 0 0 1rem 0;
}

.inactive-label {
  color: #A1A1A1;
}

.active-label {
  color: var(--white);
}

.filter-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-check {
  /* color: white !important; */
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  font-size: 14px;
  align-items: center;
}

/* OVERRIDE CHECKBOX STYLING */
.form-check-input:checked {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  appearance:none;
  width: 16px;
  height: 16px;
}

.form-check-input {
  border-radius: 0 !important;
  background-color: rgb(256, 256, 256, 0.15) !important;
  border-color: rgb(256, 256, 256, 0.15) !important;
  appearance:none;
  width: 16px;
  height: 16px;
}

.form-check-input:focus {
  border: none !important;
  box-shadow: 0 0 0 !important;
}

/* DONUT VIX */
#tooltip {
  background-color: rgba(0,0,0,0.75);
  padding: 15px;
  border-radius: 2px;
  font-family: sans-serif;
  color: white;
  pointer-events: none;
  box-shadow: 0 0 5px #999999;
}


/* UTIl */
.bold {
  font-weight: bold;
}

hr {
  border: none;
  width: calc(100% - 2rem);
  height: 1px;
  background-color: #4E4D4D;
}

.dd-item > hr {
  border: none;
  width: calc(100%);
  height: 1px;
  background-color: #4E4D4D;
}

.card-style {
  position: absolute;
  border-radius: 20px;
  background-color: var(--card-black);
  backdrop-filter: blur(60px);
}

.font-16 {
  font-size: 16px;
  color: var(--white)
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.flexCol-sm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;
}

